/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
}


/* Styling section about */
.about-section {
    background-color: #ecf0f1; /* Light gray background color */
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Styling footer */
.footer {
    background-color: #7b7b7b; /* Dark blue color */
    color: #ffffff; /* White text color */
    text-align: center;
    padding: 10px;
}

/* Styling links in footer */
.footer a {
    color: #ffffff; /* White text color for links */
    text-decoration: none;
}
